@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
	--orange: hsl(25, 97%, 53%);
	--line-border-fill: #3498db;
	--line-border-empty: #e0e0e0;
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Overpass', sans-serif;
	color: var(--white);
	font-size: 15px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

img.star {
	max-width: 45px;
	background-color: var(--dark-blue);
	padding: 15px;
	border-radius: 30px;
	margin-bottom: 30px;
}

.container {
	display: flex;
	flex-direction: column;

	background: linear-gradient(45deg, var(--very-dark-blue), var(--dark-blue));
	border-radius: 20px;

	max-width: 410px;
	min-height: 375px;
	text-align: left;
}

.container #rating {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: stretch;
	margin: 30px;
	/* height: 100%; */
}

.container #rating .submit {
	align-items: stretch;
	background-color: var(--orange);
	border-style: none;
	height: 35px;
	border-radius: 20px;
	color: var(--white);
	text-transform: uppercase;
	cursor: pointer;
}

.container #rating .submit:hover {
	/* background-color: red; */
	transform: scale(.98);
	border: solid orange 1px;
}

.container #thxu {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 30px;
	text-align: center;

	/* height: 100%; */
}

.container #thxu .voted {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-blue);
	height: 30px;
	width: 180px;
	margin: 20px;
	color: var(--orange);
	border-radius: 20px;
	font-size: 12px;
}

.ill-thxu {
	width: 150px;
}

.title {
	font-size: 25px;
	margin-bottom: 8px;
}

.par {
	color: var(--light-grey);
	align-items: left;
}

.votes {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.votes .vote {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: var(--dark-blue);
	color: var(--light-grey);
	cursor: pointer;
}

.votes .vote:hover {
	background-color: var(--light-grey);
	color: var(--white);
}

.votes .vote.active {
	background-color: var(--orange);
	color: var(--white);
}

@media screen and (max-width: 375px) {
	.container {
		max-width: 330px;
		margin: 20px;
	}
}